@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary-DEFAULT: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-foreground: var(--primary-foreground);

  --color-surface: var(--surface);
  --color-surface-hover: var(--surface-hover);
  --color-border: var(--border);

  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-playfair);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #09090B;
  --foreground: #FAFAFA;
  
  --primary: #7C3AED;
  --primary-hover: #6D28D9;
  --primary-foreground: #FFFFFF;
  
  --surface: #18181B;
  --surface-hover: #27272A;
  --border: #27272A;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
